@page "/inicio"
@inject IArticleManager articleManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h1>@msj</h1>
<button class="btn btn-primary" @onclick="()=> Cerrar()">Cerrar seccion</button>

@code {
    string msj = "si";

    async Task Cerrar()
    {
        await localStorage.RemoveItemAsync("ID_login");
        navigationManager.NavigateTo("/login");
    }

   


}
