@page "/BeneficiosVehis"

    <RadzenCard>
        <header>
            <h1 class="text-center">Listado de  Vehiculos</h1>
            <hr />
        </header>

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" href='/Beneficios'><i class="fas fa-backward"></i>  Volver atrás</a>
            </div>
        </div>
        
    </RadzenCard>



