@page "/Beneficios"

<RadzenCard>
    <div class="container">

        <h1 class="text-center">Reportes</h1>
        <br />
        <center>
            <div class="row">


                <div class="col-md-3">
                    <RadzenCard>
                        <h3><strong>Listado de Beneficiados</strong></h3>
                        <img src="images/Logo Reporte.png" />
                        <p>Aqui se muestran los <strong> ingresos </strong> de los <strong> vehiculos</strong></p>
                        <br />
                        <a class="btn btn-success" href='/BeneficiosAuto'>Ver Reporte</a>
                    </RadzenCard>
                </div>



                <div class="col-md-3">
                    <RadzenCard>
                        <h3><strong>Listado de Vehiculos</strong></h3>
                        <img src="images/Logo Reporte.png" />
                        <p>Aqui se muestran los <strong> vehiculos disponibles</strong></p>
                        <br />
                        <a class="btn btn-success" href='/BeneficiosVehis'>Ver Reporte</a>
                    </RadzenCard>
                </div>


                <div class="col-md-3">
                    <RadzenCard>
                        <h3><strong>Listado de Deudores</strong></h3>
                        <img src="images/Logo Reporte.png" />
                        <p>Aqui se muestran los clientes <strong> con deudas </strong></p>
                        <br />
                        <a class="btn btn-success" href='/BeneficioDeuda'>Ver Reporte</a>
                    </RadzenCard>
                </div>


                <div class="col-md-3">
                    <RadzenCard>
                        <h3><strong>Listado en Mapa</strong></h3>
                        <img src="images/Logo Reporte.png" />
                        <p>Aqui se muestran los vehiculos en el <strong> mapa </strong></p>
                        <br />
                        <a class="btn btn-success" href='/VistaPorMapa'>Ver Reporte</a>
                    </RadzenCard>
                </div>

            </div>
        </center>

    </div>
</RadzenCard>