<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href=""><i style="color:rgb(196, 21, 21);" class="material-icons">admin_panel_settings</i><span class="icon-text">Adm. Usuarios</span></a><br />
    <a href="CRUDVehiculos"><i style="color:rgb(196, 21, 21);" class="material-icons">add_circle_outline</i><span class="icon-text">Add. Vehiculos</span></a><br />
    <a href="CRUDClientes"><i style="color:rgb(196, 21, 21);" class="material-icons">group_add</i><span class="icon-text">Add. Clientes</span></a><br />
    <a href="addReserva"><i style="color:rgb(196, 21, 21);" class="material-icons">ios_share</i><span class="icon-text">Gest. Reserva</span></a><br />
    <a href="AnularRegistro"><i style="color:rgb(196, 21, 21);" class="material-icons">attach_money</i><span class="icon-text">Gest. Cobro</span></a><br />
    <a href="Beneficios"><i style="color:rgb(196, 21, 21);" class="material-icons">list_alt</i><span class="icon-text">Reportes</span></a>
</div>

@code {


}
